# Prediction based on All India Quota Under Graduate Allotment -2017

In [233]:
#importing various libraries needed for our model

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [234]:
# read csv

data = pd.read_csv('tabula-Show-Pdf (1).csv',header=None)

In [235]:
data = data.set_index(0)

In [236]:
data.head()

    1                                         2     3   4   5         6
0
1   1  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
2   4          BANGALORE MED. COLLEGE,BANGALORE  MBBS  UR  UR  Allotted
3   7  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
4   8  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
5  10  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted

In [237]:
# drop 6th coloumn as it only has 'Allotted' value.

data = data.drop(6,axis=1)

In [238]:
# dictionary to map college to integer value

from collections import defaultdict
clg_to_int = defaultdict(str)
idx = 0
for i in data[2]:
    if(i not in clg_to_int):
        clg_to_int[i] = idx
        idx+=1

In [239]:
clg_to_int
# there are 217 colleges from 0 to 216 :-)

defaultdict(str,
            {'AGARTALA GOVT. MEDICAL\rCOLLEGE,AGARTALA': 63,
             'ANUGRAH NARAYAN MAGADH MEDICAL\rCOLLEGE, GAYA': 148,
             'ASSAM MEDICAL COLLEGE, DIBRUGARH': 97,
             'Andaman and Nicobar Islands Institute of\rMedical S': 159,
             'B.J. MEDICAL COLLEGE, AHMEDABAD': 14,
             'B.R.D. MEDICAL COLLEGE, GORAKHPUR': 101,
             'BAHIRAMJEE JIJIBHAI MEDICAL COLLGE, PUNE': 37,
             'BANGALORE MED. COLLEGE,BANGALORE': 1,
             'BANKURA SAMMILANI MED COLL,BANKURA': 141,
             'BELGAUM INST. OF MEDICAL SCI., BELGAUM': 93,
             'BIDAR INSTITUTE OF MEDICAL SCI.,  BIDAR': 165,
             'BPS Govt. Med. College, Sonepat': 81,
             'BUNDELKHAND MEDICAL COLLEGE, SAGAR': 124,
             'BURDWAN MEDICAL COLLEGE,BURDWAN': 115,
             'Burdwan Dental College & Hospital, Burdwan': 192,
             'C. Institute of Medical Sciences,\rChamarajanagar': 118,
             'CALCUTTA NATIONAL MED COLL,KOLKATA': 39,
             'CHENGALPATTU MEDICAL\rCOLL,CHENGALPATTU': 95,
             'CHHATTISGARH INSTITUTE OF MEDICAL\rSCIENCES, BILASP': 130,
             'COIMBATORE MEDICAL COLLEGE,COIMBATORE': 20,
             'COLL OF MEDICINE & JNM HOSPITAL, KALYANI': 114,
             'DC, RIMS, Imphal': 210,
             'DR. R. AHMED DENT.COLL & HOSP,KOLKATA': 194,
             'DR. VAISHAMPAYAM MEMORIAL\rM.C.,SHOLAPUR': 61,
             'DR.RAJENDRA PRASAD MC, TANDA': 104,
             'DR.S.C.GOVT MEDICAL COLLEGE,,NANDED': 128,
             'DR.S.N. MEDICAL COLLEGE, JODHPUR': 26,
             'Darbhanga Medical College, Laheriasarai': 90,
             'Dental Institue, RIMS, Ranchi': 201,
             'Dr Ram Manohar Lohia Inst. of Med. Sce.,\rLucknow': 35,
             'Dr. B.S.A. Medical College, Delhi': 21,
             'Dr. R. N. Cooper General Hospital, Juhu,\rMumbai': 56,
             'Dr. YS Parmar Govt. Medical College, Nahan': 109,
             'ESI-MC&PGIMS&R, Banglore': 67,
             'ESI-PGIMSR, Chennai, TN': 100,
             'ESIC Dental College, Gulbarga': 215,
             'ESIC Dental College, New Delhi': 187,
             'ESIC MC, Gulbarga, Karnataka': 122,
             'ESIC PGIMSR, Joka, Kolkata, WB': 125,
             'Employees State Insurance Corporation Medical\rCollage': 53,
             'FACULTY OF DEN SCI, KG MED UNIV,LUCKNOW': 189,
             'Fakhruddin Ali Ahmed Medical College, Barpeta': 185,
             'G.R. MEDICAL COLLEGE, GWALIOR': 83,
             'G.S.V.M. MEDICAL COLLEGE, KANPUR': 29,
             'GANDHI MEDICAL COLLEGE, BHOPAL': 43,
             'GDC,PT.BDS UNIV.OF HEALTH SCI,ROHTAK': 190,
             'GHARWALE GOVT.MED SCI\r&RESEARCH,SRINAGAR': 117,
             'GMC, Azamgarh, UP': 126,
             'GMC, Jalaun, UP': 140,
             'GMC, Mallapuram, kerala': 58,
             'GOA DENTAL COLLEGE & HOSPITAL, GOA': 212,
             'GOA MEDICAL COLLEGE, PANAJI': 75,
             'GOVERNMENT MEDICAL COLLEGE AND\rHOSPITAL, CHANDIGAR': 12,
             'GOVERNMENT MEDICAL COLLEGE, AKOLA': 103,
             'GOVERNMENT MEDICAL COLLEGE, LATUR': 161,
             'GOVERNMENT MEDICAL COLLEGE, MIRAJ': 138,
             'GOVERNMENT MEDICAL COLLEGE, SURAT': 3,
             'GOVT. COLLEGE OF DENTISTRY, INDORE': 211,
             'GOVT. D.C. & RESEARCH INST,BANGALORE': 184,
             'GOVT. DC & RESEARCH INSt., BELLARY': 214,
             'GOVT. DENTAL COLL.& HOSP., JAMNAGAR': 208,
             'GOVT. DENTAL COLLEGE &\rHOSP.,AURANGABAD': 196,
             'GOVT. DENTAL COLLEGE & HOSP,AHMEDABAD': 209,
             'GOVT. DENTAL COLLEGE & HOSP.,MUMBAI': 191,
             'GOVT. DENTAL COLLEGE & HOSP.,NAGPUR': 205,
             'GOVT. DENTAL COLLEGE, KOTTAYAM': 186,
             'GOVT. DENTAL COLLEGE, KOZIKODE': 164,
             'GOVT. DENTAL COLLEGE, RAIPUR': 213,
             'GOVT. DENTAL COLLEGE, SHIMLA': 206,
             'GOVT. DENTAL COLLEGE, TRIVANDRUM': 167,
             'GOVT. DHARAMAPURI MED COLL,DHARMAPURI': 136,
             'GOVT. KILPAUK MEDICAL COLLEGE,CHENNAI': 72,
             'GOVT. MEDICAL COLLEGE, KOTTAYAM': 2,
             'GOVT. MEDICAL COLLEGE, KOZHIKODE': 9,
             'GOVT. MEDICAL COLLEGE, NAGPUR': 27,
             'GOVT. MEDICAL COLLEGE,AURANGABAD': 57,
             'GOVT. MEDICAL COLLEGE,PATIALA': 40,
             'GOVT. MEDICAL COLLEGE,TIRUNELVELI': 73,
             'GOVT. MOHAN KUMARAMANGALAM M.C.,SALEM': 91,
             'GOVT. VELLORE MEDICAL COLLEGE, VELLORE': 70,
             'GOVT.MED.COLL.(DENTAL WING),PATIALA': 203,
             'GOVT.MEDICAL\rCOLLEGE,THIRUVANANTHAPURAM': 5,
             'GOVT.MEDICAL COLLEGE, AMRITSAR': 25,
             'GOVT.MEDICAL COLLEGE, KOTA': 32,
             'GOVT.MEDICAL COLLEGE, THRISSUR': 15,
             'GRANT MEDICAL COLL & SIR J.J.HOSP,MUMBAI': 13,
             'GTMC, THIRUVARUR': 144,
             'GURU GOVIND SINGH MED COLL,FARIDKOT': 78,
             'GUWAHATI MEDICAL COLLEGE, GUWAHATI': 84,
             'GVMC, VILLUPURAM': 134,
             'Gadag Institute of Medical Sciences': 171,
             'Goverment Medical College, Bettiah': 166,
             'Government Dental College, Alappuzha': 173,
             'Government Dental College, Thrissur': 188,
             'Government Doon Medcial College, Dehradun': 80,
             'Government Medcial College, Gondia': 94,
             'Government Medical College, Banda': 150,
             'Government Medical College, Kollam': 64,
             'Government Medical College, Omandurar': 92,
             'Government Medical College, Rajnandgaon': 176,
             'Govt Medical College, Ernakulam': 47,
             'Govt Medical College, Palakkad': 69,
             'Govt. Medical College ESI and Hospital,\rCoimbatore': 102,
             'Govt. Medical College and  Hospital,\rChandrapur': 139,
             'Govt. Medical College, Kannauj': 129,
             'Govt. Pudukkottai Medical College Hopt.,\rPudukkott': 152,
             'Govt. Sivgangai M. C. Sivagangai': 137,
             'Gulbarga Institute of Medical Sciences,\rGulbarga': 133,
             'HASSAN INST. MEDICAL SCIENCES, HASSAN': 105,
             'IMS BHU Dental, Varanasi, UP': 195,
             'IMS BHU, Varanasi, UP': 6,
             'INDIRA GANDHI GOVT.MEDICAL COLL.,\rNAGPUR': 86,
             'INDIRA GANDHI MEDICAL COLL., SHIMLA': 30,
             'INST OF PG MED EDU & RESEARCH,KOLKATA': 54,
             'Indira Gandhi Institute of Medical Sciences,\rPatna': 79,
             'Indira Gandhi Medical College & RI, Puducherry': 96,
             'JAWAHAR LAL NEHRU MEDICAL, AJMER': 36,
             'JHALAWAR MEDICAL COLLEGE, Jhalawar': 87,
             'JLN IMS, IMPHAL': 155,
             'Jawaharlal Nehru Medical College, Bhagalpur': 158,
             'Jorhat Medical College and Hospital, JORHAT': 177,
             'K.A.P. VISWANATHAM G.M.C.,TIRUCHIRAPALLI': 88,
             'KANYAKUMARI GOVT. MED.\rCOLL.,ASARIPALLAM': 82,
             'KARNATAK INST. OF MEDICAL SC.,HUBLI': 68,
             'KGMC, LUCKNOW': 18,
             'Kalpana Chawla Govt. Medical College, Karnal': 50,
             'Karwar Institute of Medical Sciences, Karwar': 168,
             'Kodagu Institute of Medical Sciences, Kodagu': 147,
             'Koppal Institute of Medical Sciences': 179,
             'L.L.R.M. MEDICAL COLLEGE, MEERUT': 74,
             'LADY HARDINGE MEDICAL COLLEGE, NEW\rDELHI': 7,
             'LOKMANYA TILAK  MUNICIPAL M C,MUMBAI': 22,
             'Lt. B R K Government Medical College,\rJagdalpur': 169,
             'Lt. L A M Govt. Medical College, Raigarh': 175,
             'M.G.D.C. & HOSPITAL, PUDUCHERRY': 207,
             'M.G.M. MEDICAL COLLEGE, INDORE': 42,
             'M.G.M. MEDICAL COLLEGE,JAMSHEDPUR': 113,
             'M.P. SHAH MEDICAL COLLEGE, JAMNAGAR': 99,
             'MADRAS MEDICAL COLLEGE, CHENNAI': 19,
             'MADURAI MEDICAL COLLEGE, MADURAI': 60,
             'MAHARAJA K.C. GAJAPATI M.C.,BRAHMAPUR': 55,
             'MAHARANI LAXMI BAI MEDICAL COLL,JHANSI': 85,
             'MALDA MED. COLLEGE, MALDA': 162,
             'MANDYA INST. OF MEDICAL SCI., MANDYA': 107,
             'MAULANA AZAD INST.OF DENTAL SCI,N.DELHI': 182,
             'MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI': 0,
             'MEDICAL COLLEGE, BARODA': 52,
             'MEDICAL COLLEGE, BHAVNAGAR': 46,
             'MEDICAL COLLEGE, KOLKATA': 23,
             'MIDNAPORE MEDICAL COLLEGE, MIDNAPUR': 180,
             'MOTI LAL NEHRU MEDICAL COLL, ALLAHABAD': 31,
             'MRA MEDICAL COLLEGE AMBEDKAR NAGAR, UP': 121,
             'MYSORE MED.& RESEARCH INST. MYSORE': 59,
             'Mursidabad M C & Hospital, Mursidabad': 183,
             'NAIR HOSP DENTAL COLLEGE & HOSP,MUMBAI': 154,
             'NALANDA MEDICAL COLLEGE, PATNA': 98,
             'NDMC Medical College, Delhi': 17,
             'NEIGRIHMS, SHILLONG': 149,
             'NETAJI SUBHASH CHANDRA BOSE\rMC,JABALPUR': 112,
             'NILRATAN SIRKAR MEDICAL COLLEGE,\rKOLKATA': 38,
             'NORTH BENGAL DENT.COLL,SUSHRUTNAGAR': 198,
             'NORTH BENGAL MED.COLL,DARJEELING': 111,
             'PATALIPUTRA MEDICAL COLLEGE, DHANBAD': 160,
             'PATNA DENTAL COLLEGE & HOSPITAL, PATNA': 197,
             'PATNA MEDICAL COLLEGE, PATNA': 45,
             'PB. GOVT. DENTAL COLLEGE &\rHOSP,AMRITSAR': 200,
             'PT. B.D. SHARMA PGIMS, ROHTAK': 16,
             'Pt. D.D.U MEDICAL COLLEGE, RAJKOT': 65,
             'Pt. J N M MEDICAL COLLEGE, RAIPUR': 116,
             'Pt. Jawahar Lal Nehru Govt. Med. College,\rChamba': 127,
             'Pt. Raghunath Murmu Med. College, Baripada': 174,
             'R.G. KAR MEDICAL COLLEGE,KOLKATA': 41,
             'R.N.T. MEDICAL COLLEGE, UDAIPUR': 66,
             'RAICHUR INST. OF MEDICAL SCI., RAICHUR': 151,
             'RAJENDRA INST. OF MED. SCI., RANCHI': 44,
             'RAJIV GANDHI MEDICAL COLLEGE, THANE': 71,
             'RCSMGMC, KOLHAPUR': 142,
             'REGIONAL DENTAL COLLEGE, GUWAHATI': 216,
             'REGIONAL INST OF MEDICAL SCI, IMPHAL': 181,
             'RUHS College of Dental Science, Jaipur': 193,
             'RUHS College of Medical Sciences': 48,
             'RURAL INST OF MED SCI & RESEARCH,SAIFAI': 110,
             'Rajah Muthiah Dental College and Hos. ,\rAnnamalai': 202,
             'Rajah Muthiah Medical College, Annamalai\rUniversit': 143,
             'S.C.B. MEDICAL COLL(DENTAL),CUTTACK': 204,
             'S.C.B. MEDICAL COLLEGE, CUTTACK': 24,
             'S.M.S. MEDICAL COLLEGE, JAIPUR': 11,
             'S.N. MEDICAL COLLEGE, AGRA': 34,
             'S.S. MEDICAL COLLEGE, REWA': 135,
             'SARDAR PATEL MEDICAL COLLEGE, BIKANER': 28,
             'SETH G.S. MEDICAL COLLEGE, MUMBAI': 4,
             'SH VASANT RAO NAIK GOVT.M.C.,YAVATMAL': 157,
             'SHIMOGA INST. OF MEDICAL SCI., SHIMOGA': 119,
             'SHKM GMC, Nalhar, Mewat, Haryana': 76,
             'SHRI BHAUSAHEB HIRE GOVT. M.C., DHULE': 156,
             'SILCHAR MEDICAL COLLEGE, SILCHER': 153,
             'SRI KRISHNA MEDICAL COLLEGE,\rMUZAFFARPUR': 163,
             'STANLEY MEDICAL COLLEGE, CHENNAI': 51,
             'SWAMI RAMANAND TiRTH RURAL\rM.C,AMBAJOGAI': 172,
             'Sagar Dutta Medical College & Hospital, Kolkata': 62,
             'Saheed Laxman Nayak Med. College and Hos.,\rKoraput': 170,
             'Sh. Lal Bahadur Shastri Govt. Med. College.\rMandi': 106,
             'Sheikh-Ul-Hind Maulana Mahmood Hasan\rMedical Colle': 108,
             'T.D. MEDICAL COLLEGE, ALLAPPUZHA': 49,
             'TAMILNADU GOVT D.C. & HOSP, CHENNAI': 199,
             'THANJAVUR MEDICAL COLL.,THANJAVUR': 77,
             'THENI GOVT. MEDICAL COLLEGE, THENI': 89,
             'THOOTHUKUDI MEDICAL\rCOLLEGE,THOOTHUKUDI': 132,
             'TOPIWALA NATIONAL MEDICAL\rCOLLEGE,MUMBAI': 33,
             'Tezpur Medical College, Tezpur': 178,
             'Thiruvannamalai MC, Thiruvannamalai, TN': 146,
             'UTTARANCHAL F HOSP TRUST MC,HALDWANI': 120,
             'University College of Medical Sciences, Delhi': 8,
             'V.S.S. MEDICAL COLLEGE, BURLA': 145,
             'VARDHMAN INSTITUTE OF MEDICAL SCIENCES,\rNALANDA': 123,
             'VIJAYNAGAR INST OF MED. SC,BELLARY': 131,
             'VMMC AND SAFDARJUNG HOSPITAL, NEW\rDELHI': 10})

In [240]:
# map int to college through previous clg_to_int mapping

int_to_clg = ['str']*218
for value in clg_to_int:
    #print(value)
    int_to_clg[clg_to_int[value]] = value

In [241]:
# add extra coloumn to convert college name to previously mapped value

data[7] = pd.Series(np.random.randint(len(data)), index=data.index)

for i in range(len(data)):
    #print(datar)
    data.iloc[i,5]=int(clg_to_int[data.iloc[i,1]])
data

,1,2,3,4,5,7
0,,,,,,
1,1,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
2,4,"BANGALORE MED. COLLEGE,BANGALORE",MBBS,UR,UR,1
3,7,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
4,8,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
5,10,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
6,12,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
7,15,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
8,17,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
9,18,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
10,19,"GOVT. MEDICAL COLLEGE, KOTTAYAM",MBBS,UR,UR,2
11,20,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
12,21,"GOVERNMENT MEDICAL COLLEGE, SURAT",MBBS,UR,UR,3
13,22,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
14,23,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
15,24,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
16,25,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
17,26,"SETH G.S. MEDICAL COLLEGE, MUMBAI",MBBS,UR,UR,4
18,30,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
19,31,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
20,32,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
21,34,"BANGALORE MED. COLLEGE,BANGALORE",MBBS,UR,UR,1
22,35,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
23,36,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
24,37,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
25,38,"MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,0
26,39,"GOVT.MEDICAL\rCOLLEGE,THIRUVANANTHAPURAM",MBBS,UR,UR,5
27,41,"GOVT.MEDICAL\rCOLLEGE,THIRUVANANTHAPURAM",MBBS,UR,UR,5
28,43,"IMS BHU, Varanasi, UP",MBBS,UR,UR,6
29,45,"LADY HARDINGE MEDICAL COLLEGE, NEW\rDELHI",MBBS,UR,UR,7
30,49,"University College of Medical Sciences, Delhi",MBBS,UR,UR,8
...,...,...,...,...,...,...
3989,332862,"Rajah Muthiah Dental College and Hos. ,\rAnnam...",BDS,UR PH,OBC PH1,202
3990,333175,"JAWAHAR LAL NEHRU MEDICAL, AJMER",MBBS,ST PH,ST PH1,36
3991,334819,"DR. R. AHMED DENT.COLL & HOSP,KOLKATA",BDS,UR PH,UR PH1,194
3992,342529,"GDC,PT.BDS UNIV.OF HEALTH SCI,ROHTAK",BDS,UR PH,OBC PH1,190
3993,353049,"ESIC Dental College, Gulbarga",BDS,SC PH,SC PH2,215
3994,363065,"GOVT. COLLEGE OF DENTISTRY, INDORE",BDS,UR PH,OBC PH1,211
3995,368985,"PATNA DENTAL COLLEGE & HOSPITAL, PATNA",BDS,UR PH,UR PH1,197
3996,370965,"GOVT. DENTAL COLLEGE & HOSP.,NAGPUR",BDS,UR PH,UR PH1,205
3997,373889,"Darbhanga Medical College, Laheriasarai",MBBS,SC PH,SC PH1,90
3998,375414,"IMS BHU Dental, Varanasi, UP",BDS,OBC PH,OBC PH1,195
3999,393704,"M.G.D.C. & HOSPITAL, PUDUCHERRY",BDS,UR PH,OBC PH1,207
4000,405115,"B.J. MEDICAL COLLEGE, AHMEDABAD",MBBS,SC PH,SC PH1,14
4001,419447,"MAHARAJA K.C. GAJAPATI M.C.,BRAHMAPUR",MBBS,SC PH,SC PH1,55
4002,425195,"MAHARAJA K.C. GAJAPATI M.C.,BRAHMAPUR",MBBS,ST PH,ST PH2,55
4003,448469,"GOVT. MEDICAL COLLEGE,TIRUNELVELI",MBBS,ST PH,ST PH2,73
4004,451909,"REGIONAL DENTAL COLLEGE, GUWAHATI",BDS,SC PH,SC PH2,216
4005,467453,"Karwar Institute of Medical Sciences, Karwar",MBBS,ST PH,ST PH2,168
4006,471758,"DR. VAISHAMPAYAM MEMORIAL\rM.C.,SHOLAPUR",MBBS,SC PH,SC PH1,61
4007,472397,"GOVT.MEDICAL COLLEGE, AMRITSAR",MBBS,SC PH,SC PH1,25
4008,473399,"MADRAS MEDICAL COLLEGE, CHENNAI",MBBS,SC PH,SC PH1,19
4009,482699,"DR. VAISHAMPAYAM MEMORIAL\rM.C.,SHOLAPUR",MBBS,ST PH,ST PH2,61
4010,486476,"BURDWAN MEDICAL COLLEGE,BURDWAN",MBBS,SC PH,SC PH1,115
4011,496623,"C. Institute of Medical Sciences,\rChamarajanagar",MBBS,SC PH,SC PH1,118
4012,517672,"Darbhanga Medical College, Laheriasarai",MBBS,ST PH,ST PH2,90
4013,526589,Govt. Sivgangai M. C. Sivagangai,MBBS,ST PH,ST PH1,137
4014,531946,"VMMC AND SAFDARJUNG HOSPITAL, NEW\rDELHI",MBBS,ST PH,ST PH1,10
4015,533284,Sh. Lal Bahadur Shastri Govt. Med. College.\rM...,MBBS,ST PH,ST PH1,106
4016,533334,"BPS Govt. Med. College, Sonepat",MBBS,SC PH,SC PH1,81
4017,551407,"CHENGALPATTU MEDICAL\rCOLL,CHENGALPATTU",MBBS,SC PH,SC PH1,95
4018,551965,"Karwar Institute of Medical Sciences, Karwar",MBBS,SC PH,SC PH1,168

In [242]:
# now we can drop college name 

data = data.drop(2,axis = 1)
data.head()

    1     3   4   5  7
0
1   1  MBBS  UR  UR  0
2   4  MBBS  UR  UR  1
3   7  MBBS  UR  UR  0
4   8  MBBS  UR  UR  0
5  10  MBBS  UR  UR  0

In [243]:
# partition X and Y 

X = data[[1,3,4,5]]
Y = data[7]

In [244]:
X.head()

    1     3   4   5
0
1   1  MBBS  UR  UR
2   4  MBBS  UR  UR
3   7  MBBS  UR  UR
4   8  MBBS  UR  UR
5  10  MBBS  UR  UR

In [245]:
Y.head()

0
1    0
2    1
3    0
4    0
5    0
Name: 7, dtype: int64

In [246]:
# creating category of X

category = [3,4,5]
for cat in category:
    dumm = pd.get_dummies(X[cat],prefix=cat)
    X = pd.concat([X,dumm],axis=1)
    X.drop(cat,axis=1,inplace = True)

In [247]:
# after category 

X.head()

,1,3_BDS,3_MBBS,4_OBC,4_OBC PH,4_SC,4_SC PH,4_ST,4_ST PH,4_UR,...,5_OBC PH1,5_OBC PH2,5_SC,5_SC PH1,5_SC PH2,5_ST,5_ST PH1,5_ST PH2,5_UR,5_UR PH1
0,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,4,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,7,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,8,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
5,10,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [248]:
# categorizing Y

dumm = pd.get_dummies(Y,prefix=None)

In [249]:
Y = dumm
Y.head()

,0,1,2,3,4,5,6,7,8,9,...,207,208,209,210,211,212,213,214,215,216
0,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [250]:
# spliting X and Y in crossvalidation and traing set

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

In [251]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(4018, 22)
(3616, 22)
(402, 22)

In [252]:
# decision tree model
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)

In [253]:
# predicting values for crossvalidation 'y_test' set

y_pred = dtree_model.predict(X_test)
y_pred = pd.DataFrame(y_pred, index = y_test.index)

In [262]:
summ = 0
for i in range (len(y_test)):
    summ += np.sum(y_pred.iloc[i].astype(int) != y_test.iloc[i].astype(int)) 
summ

397

In [269]:
# now we can make prediction according to rank, Alloted_category, course, candidate category.